{% extends "layout.html" %}

{% block title %}
    Matching
{% endblock %}

{% block main %}
<style>
    main{
       padding: 0px;
       text-align: center;
    }
    header{
        margin:0px;
    }
    .head {
      background-color: #FFC107; /* yellow */
      padding: 20px;
    }
    .cont1 {
      max-width: 600px;
      margin: auto;
      padding: 20px;
    }
    .main-text {
      font-size: 16px;
      line-height: 1.6;
    }
    .sub-text {
      font-size: 16px;
      line-height: 1.6;
    }
  </style>
</head>
<body>
  <header class="head">
    <h1>Stumble</h1>
  </header>
  <div class="cont1">
    <p class="main-text">Today, most people find their first big break through their network. We created Stumble so we can connect with each other, share, and learn. Networking shouldn’t feel so hard or, worse, uncomfortable. We’ve made it so you can make life-changing connections at your own pace, on your own terms.</p>
    <p class="sub-text">Stumble, an app that's all about finding your perfect research match on campus! Well, while we can't promise to fix your romantic affairs, we can certainly sort out your academic ones! Modeled after Bumble, we are delighted to launch Stumble, an app that puts a twist on traditional matchmaking by helping you connect with fellow students who share academic and research interests. Say goodbye to dry spells and hello to exciting collaborations!</p>
  </div>
{% endblock %}
