{% extends "layout.html" %}
{% load extras %}

{% block title %}
    Home
{% endblock %}

{% block main %}
{% load static %}
<style>
    .avatar{
        width: 90px;
        height: 90px;
        border-radius: 50%;
    }
    .cont{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        margin: auto;
        width: 50vw;
        border: 1px solid white;
        border-radius: 25px;
        background-color: #2c9994;
    }
    .info_cont{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: #22517d;
        color: white;
        border-radius: 50px;
    }

    .name{
        font-size: 33px;
    }
    .info{
        font-size: 20px;
    }
    .large{
        width: 70% !important;
    }
    .bio{
        padding: 10px;
    }

    @media only screen and (max-width: 600px) {
        .cont{
            width: 90vw;
            font-size: 1.2rem;
            margin-top:20px;
        }
        .info_cont{
            width: 70%;
        }
        .large{
            width: 95% !important;
        }
        .bio{
            overflow: auto;
        }
    }
</style>
<div class="cont">
    <img class="avatar" src="/static/{{fuser.avatar_index}}.png" alt="pf">
    <div class="info_cont">
    <div class="name">{{ fuser.display_name }}</div>
    </div>
    <span>Pronouns</span>
    <div class="info_cont">
    <div class="info">{{ fuser.pronouns }}</div>
    </div>
    <span>Email</span>
    <div class="info_cont large">
    <div class="info" style="font-size: 18px !important; overflow: auto;">{{ fuser.email }}</div>
    </div>
    <span>Batch</span>
    <div class="info_cont">
    <div class="info">{{ fuser.batch }}</div>
    </div>
    <span>Major</span>
    <div class="info_cont">
    <div class="info">{{ fuser.major }}</div>
    </div>
    <span>Research Interests</span>
    <div class="info_cont large">
    <div class="info" style="overflow: auto;">{{ fuser.research_interests }}</div>
    </div>
    <span>Fav STEM Media</span>
    <div class="info_cont large bio">
    <div class="info">{{ fuser.Q1 }}</div>
    </div>
    <span>Fav STEM Professor at Ashoka</span>
    <div class="info_cont large bio">
    <div class="info">{{ fuser.Q2 }}</div>
    </div>
    <span>Anything else</span>
    <div class="info_cont large bio">
    <div class="info">{{ fuser.Q3 }}</div>
    </div>
</div>


{% endblock %}